@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf'); 
}

* {
  font-family: 'RobotoRegular', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, #403B4A, #E7E9BB)
}